#book-a-service {

}

#services-nav {
  border-bottom: 2px solid #8c8c8c;
}

.right-inner-addon {
  position: relative;
}
.right-inner-addon span {
  position: absolute;
  right: 0px;
  padding: 9px 9px;
  pointer-events: none;
}