.profile-menu {
	border-right: 2px solid #dedede;
	cursor: pointer;
}

.profileActive {
	color: #b71c1c;
	border-right: 3px solid #b71c1c;
}

.profile-category-parent-div {
	padding : 0;
}
.profile-category-top-module {
	padding: 3% 0 10% 0;
	background-color: black;
}
.profile-category-bottom-module {
	padding: 5% 0 5% 0;
	background-color: red;
}
.profile-image img {
	width: 100%;
}
.profile-image {
	position: absolute;
	margin-top: -4%;
	right: 46%;
	background-color: blue;

	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
}