/*modifyig the default bootstrap class*/
/*.navbar {
	margin: 0;
	border-radius: 0;
	border: 0;
}
.navbar-default {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}
.navbar-default .navbar-brand {
  color: #b71c1c;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #b71c1c;
}
.navbar-default .navbar-text {
  color: #b71c1c;
}
.navbar-default .navbar-nav > li > a {
  color: #b71c1c;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #b71c1c;
  border-bottom: 5px solid #b71c1c;
  border-bottom: 5px solid rgba(183, 28, 28, 0.5);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b71c1c;
  border-bottom: 5px solid #b71c1c;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #b71c1c;
}
.navbar-default .navbar-toggle {
  border-color: #e6e6e6;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #b71c1c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #b71c1c;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e6e6e6;
}
.navbar-default .navbar-link {
  color: #b71c1c;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #b71c1c;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #b71c1c;
  }
}*/


.navbar {
  margin: 0;
  border-radius: 0;
  border: 0;
}
.navbar-default {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}
.navbar-default .navbar-brand {
  color: #b71c1c;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #b71c1c;
}
.navbar-default .navbar-text {
  color: #b71c1c;
}
.navbar-default .navbar-nav > li > a {
  color: #b71c1c;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #b71c1c;
  cursor: pointer;
  border-bottom: 5px solid #b71c1c;
  border-bottom: 5px solid rgba(183, 28, 28, 0.5);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b71c1c;
  border-bottom: 5px solid #b71c1c;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #b71c1c;
}
.navbar-default .navbar-toggle {
  border-color: #e6e6e6;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #b71c1c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #b71c1c;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e6e6e6;
}
.navbar-default .navbar-link {
  color: #b71c1c;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #b71c1c;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #b71c1c;
  }
/*modifyig the default bootstrap class*/

/*new navbar classes start*/
/*.top-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.top-nav .topbar-center-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.top-nav-brand {

}
.top-nav-center-element {
  padding: 5% 3% 5% 3%;
  width: 25%;
}
.top-nav-end-element {

}*/
/*new navbar classes end*/