<div class="container-fluid padding-bottom-10 padding-left-3">
  <br>
  <div class="row text-center">
    <h2>Booking Details</h2>
    <h4>(ticketId)</h4>
  </div>
  <div class="container-fluid">
  	<h4><b>Thank You!</b></h4>
    <br>
    <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-10 col-md-10 col-lg-10">
      <h5><b>Your order has been confirmed!</b></h5>
      <h5>Service no : 4556</h5>
      <h5>We have sent a confirmation mail to: ok@gh.com and message to phone: 9976448668.</h5>
      <h5>You can check the status of the service here</h5><br><br>
    </div>

    <div>
    	<h5><b>Order Summary:</b></h5>
    	<div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-10 col-md-10 col-lg-10">
	    	<h5>Service no: 4555</h5>
  	  	<h5>Electronic repair</h5>
    		<br>
    		<h5>Date</h5>
	    	<h5>Time</h5>
  	  	<br>
    		<h5>Address</h5>
    		<br>
	    	<h5>Random Number</h5>
  	  	<br>
    		<h5>Comments:damage full</h5>
    	</div>
    </div>
    
  </div>

</div>
