<div id="book-a-service" class="container-fluid color-black padding-bottom-10">
  <div ng-show="checkSelectCategory" class="row text-center padding-top-2">
    <h2>Get your work done here</h2>
  </div>
  <div class="row text-center padding-top-2">
    <div ng-show="!checkClickBookNow" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <p>
        <span class="glyphicon glyphicon-map-marker"></span>
        Current location: Chennai (change)
      </p>
    </div>

    <!-- Select the category -->

    <div ng-show="checkSelectCategory" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="right-inner-addon">
        <input type="text" class="form-control" ng-model="selectedCategory" bs-options="category as category.name for category in categoryList" ng-keypress="keyPress($event)" placeholder="Search for categories..." bs-typeahead autocomplete="off">
        <span class="color-black glyphicon glyphicon-arrow-right"></span>
      </div>
    </div> 

    <!-- Select the category -->

    <!-- After selecting the category -->
    <div ng-show="checkSelectCategory" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="row padding-bottom-10">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="right-inner-addon">
            <input type="text" class="form-control" ng-model="selectedSubCat" bs-options="subCat as subCat.name for subCat in subCatList" placeholder="Search for sub-categories..." bs-typeahead autocomplete="off">
            <span class="color-black glyphicon glyphicon-arrow-right"></span>
          </div>
        </div>
      </div>
      <div class="row padding-bottom-10">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="right-inner-addon">
            <input type="text" class="form-control" ng-model="selectedService" bs-options="service as service.name for service in serviceList" placeholder="Search for services..." bs-typeahead autocomplete="off">
            <span class="color-black glyphicon glyphicon-arrow-right"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="right-inner-addon">
            <input type="text" class="form-control" ng-model="selectedArea" placeholder="Enter the area..." autocomplete="off">
            <span class="color-black glyphicon glyphicon-arrow-right"></span>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="checkSelectCategory" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <button type="button" class="btn btn-success">
        Proceed&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>
      </button>
    </div>
    <!-- After selecting the category -->

  </div>

  <!-- After clicking book now -->
  <div ng-show="checkClickBookNow" class="container-fluid">
    <div class="row text-center">
      <h2>Finish your order</h2>
    </div>

    <div class="row book-now-row">
      <div class="text-right col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h3>When?</h3>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="row">
          <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="date" class="form-control" placeholder="Date">
          </div>
          <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="time" class="form-control" placeholder="Time">
          </div>
        </div>
      </div>
    </div>

    <div class="row book-now-row">
      <div class="text-right col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h3>Where?</h3>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="row">
          <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="text" class="form-control" placeholder="House No.">
          </div>
          <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="text" class="form-control" placeholder="Street/Address lane 1">
          </div>
          <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="text" class="form-control" placeholder="Address lane 2 (if any)">
          </div>
          <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="text" class="form-control" placeholder="Landmarks (if any)">
          </div>
        </div>
      </div>
    </div>

    <div class="row book-now-row">
      <div class="text-right col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h3>Contact info</h3>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="row">
          <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="email" class="form-control" placeholder="Email">
          </div>
          <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="text" class="form-control" placeholder="Phone No.">
          </div>
        </div>
      </div>
    </div>

    <div class="row book-now-row">
      <div class="text-right col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h3>Additional comments</h3>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="row">
          <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <textarea type="text" class="form-control" placeholder="Additional comments (if any)"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <button class="btn btn-danger">Get it done!</button>
    </div>
  </div>
  <!-- After clicking book now -->

</div>

<div id="services-nav" class="container-fluid color-212121 padding-top-1 padding-bottom-1">
  <div class="row">
    <div class="text-left col-xs-12 col-sm-4 col-md-4 col-lg-4">
      Blah 1
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
      Blah 2
    </div>
    <div class="text-right col-xs-12 col-sm-4 col-md-4 col-lg-4">
      Blah 3
    </div>
  </div>
</div>

<div class="container-fluid div-overlap-img text-center background-color-red color-white">
  <div class="row padding-top-5 padding-bottom-1">
    <h2>IndiaWorks is an assisted services platform</h2>
  </div>
  
  <div class="row padding-top-1">
    <h3>asdasd a ajkhsd k asjd alj asldj al al alsdjakda ja jasdjla a lasdj lasj lak alksd</h3>
  </div>

  <img class="img-responsive" src="images/homepage-how-it-works.png" alt="How it works" />
  <div class="triangle-down-right-white"></div>
</div>

<div class="container-fluid div-overlap-img text-left background-color-white color-black padding-left-5 padding-right-5 padding-top-5 padding-bottom-5">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h2>Simplicity</h2>
      <h3>sdhasdjka aslkj hkasjh hjaskd hkajsdk hkasjd kjasdk jhaskdjh kajshd jkshdkja hdkjas</ph3>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <img class="img-responsive" src="images/homepage-how-it-works.png" alt="How it works" />
    </div>
  </div>
  <div class="triangle-down-right-grey"></div>
</div>

<div class="container-fluid div-overlap-img text-right background-color-grey-two color-black padding-left-5 padding-right-5 padding-top-5 padding-bottom-5">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <img class="img-responsive" src="images/homepage-how-it-works.png" alt="How it works" />
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h2>Simplicity</h2>
      <h3>sdhasdjka aslkj hkasjh hjaskd hkajsdk hkasjd kjasdk jhaskdjh kajshd jkshdkja hdkjas</ph3>
    </div>
  </div>
  <div class="triangle-down-right-white"></div>
</div>

<div class="container-fluid div-overlap-img text-left background-color-white color-black padding-left-5 padding-right-5 padding-top-5 padding-bottom-5">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h2>Simplicity</h2>
      <h3>sdhasdjka aslkj hkasjh hjaskd hkajsdk hkasjd kjasdk jhaskdjh kajshd jkshdkja hdkjas</ph3>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <img class="img-responsive" src="images/homepage-professional.png" alt="How it works" />
    </div>
  </div>
  <div class="triangle-down-right-grey"></div>
</div>

<div class="container-fluid div-overlap-img text-right background-color-grey-two color-black padding-left-5 padding-right-5 padding-top-5 padding-bottom-5">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <img class="img-responsive" src="images/homepage-how-it-works.png" alt="How it works" />
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h2>Simplicity</h2>
      <h3>sdhasdjka aslkj hkasjh hjaskd hkajsdk hkasjd kjasdk jhaskdjh kajshd jkshdkja hdkjas</ph3>
    </div>
  </div>
  <div class="triangle-down-right-white"></div>
</div>

<div class="container-fluid div-overlap-img text-center background-color-white color-black padding-left-5 padding-right-5 padding-top-5 padding-bottom-5">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1>Team</h1>
      <h3>Meet the team behid IndiaWorks</h3>

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img class="img-responsive" src="" alt="">
          </div>
        </div>
      </div>

      <h3>We are a passionate undergrads from IIT Madras determined to change the way the Indian service industry works</h3>
    </div>
  </div>
</div>

<!-- 
<div class="container-fluid service-container padding-top-2 padding-right-2 padding-bottom-2 padding-left-2">
  <service-template></service-template>
  <service-template></service-template>
  <service-template></service-template>
  <service-template></service-template>
</div>
 -->

<!-- 
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-repeat="service in sampleServices track by $index" ng-init="service.displayImg=service.originalImg" ng-mouseover="service.displayImg=service.hoverImg" ng-mouseout="service.displayImg=service.originalImg">
      <img class="img-responsive" ng-src="{{ service.displayImg }}" alt="{{ service.name }}">
    </div>
  </div>
</div>
 -->

