<div id="book-a-service" class="container-fluid color-white background-color-grey padding-bottom-10">
  <div class="row text-center padding-top-2 padding-bottom-2">
    <h2>Get your work done here</h2>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <p>
        <span class="glyphicon glyphicon-map-marker"></span>
        Current location: Chennai (change)
      </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="right-inner-addon">
        <input type="search" class="form-control" placeholder="Search for services...">
        <span class="color-black glyphicon glyphicon-arrow-right"></span>
      </div>
    </div>
  </div>
</div>

<div id="services-nav" class="container-fluid color-212121 padding-top-1 padding-bottom-1">
  <div class="row">
    <div class="text-left col-xs-12 col-sm-4 col-md-4 col-lg-4">
      Blah 1
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
      Blah 2
    </div>
    <div class="text-right col-xs-12 col-sm-4 col-md-4 col-lg-4">
      Blah 3
    </div>
  </div>
</div>

<div class="container-fluid service-container padding-top-2 padding-right-2 padding-bottom-2 padding-left-2">
  <div class="service-div">
    <div class="service-img">
      <img class="img-responsive" src="images/yeoman.png">
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 service-name">
        Carpentry
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 service-book-now">
        Book now
      </div>
    </div>
  </div>
</div>

