<div class="container-fluid yyy">
	<div class="row xxx">
		<div ng-include="'views/category-module.html'"></div>

	</div>

	<div class="row lol-image">
		<img class="img-responsive" src="images/yeoman.png" />
	</div>

	<div class="row zzz">

	</div>
</div>

<div class="container-fluid">
	<div class="row">

		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-left padding-left-5 padding-top-5 padding-right-5 padding-bottom-5">

			<div class="row">
				<h3>About</h3>
			</div>
			<div class="padding-left-5 padding-right-5" ng-click="changeProfileContent($index)" ng-repeat="element in profileElements track by $index">
				<div class="row profile-menu" ng-class="{ profileActive: activeProfile($index) }">
					<h4>{{ element.name }}</h4>
				</div>
			</div>

		</div>

		<div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 padding-left-5 padding-top-5 padding-right-5 padding-bottom-5">
			<div class="row text-left">
				<h3>Upcoming services</h3>
			</div>

			<div class="row text-right">
				<h4>Time left : 2hr 30min</h4>
			</div>
			<div class="row text-right">
				<h4><a>Cancel</a></h4>
			</div>

			<div class="row text-left">
				<h4>Booking id: </h4> 
				<h5>Carpentry</h5>
				<h5>Wardaed</h5>
				<h5>aadadae</h5>
			</div>

			<div class="row text-right">
				<h4>Contact handsman</h4>
			</div>

			<div class="row separator-line"></div>

			<div class="row text-right">
				<h4>More <span class="glyphicon glyphicon-triangle-bottom"></span></h4>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-left padding-left-5 padding-top-3 padding-right-5 padding-bottom-5">
			<div class="row">
				<h5><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> User email</h5>
			</div>
			<div class="row">
				<h5><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> User phone</h5>
			</div>			
			<div class="row">
				<h5><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> User current location</h5>
			</div>
		</div>

	</div>
</div>