
<!-- <div class="header" ng-controller="TopNavCtrl">
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#!/">IndiaWorks</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li ng-class="{ active: isActive('/') }"><a href="#!/">Home</a></li>
          <li ng-class="{ active: isActive('/about') }"><a ng-href="#!/about">About</a></li>
          <li ng-class="{ active: isActive('/contact-us') }"><a ng-href="#!/contact-us">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div> -->

<div class="header" ng-controller="TopNavCtrl">
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <div class="row collapse navbar-collapse" id="js-navbar-collapse">
        
        <a class="col-sm-2 navbar-brand" href="#!/">IndiaWorks</a>

        <ul class="col-sm-8 nav navbar-nav">
          <li ng-class="{ active: isActive('/') }"><a href="#!/">Home</a></li>
          <li ng-class="{ active: isActive('/about') }"><a ng-href="#!/about">About</a></li>
          <li ng-class="{ active: isActive('/contact-us') }"><a ng-href="#!/contact-us">Contact</a></li>
        </ul>

        <a class="col-sm-2 navbar-brand">Profile</a>
      
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="container-fluid">
  <div class="row top-nav">
    <div class="topbar-first-nav">
      <div class="container-fluid top-nav-brand">IndiaWorks</div>
    </div>

    <div class="topbar-center-nav">
      <div class="container-fluid top-nav-center-element">Home</div>
      <div class="container-fluid top-nav-center-element">Our services</div>
      <div class="container-fluid top-nav-center-element">About us</div>
      <div class="container-fluid top-nav-center-element">Blog</div>
    </div>

    <div class="topbar-last-nav">
      <div class="container-fluid top-nav-end-element">Profile</div>
    </div>
  </div>
</div>
 -->