<div class="container-fluid padding-bottom-5">
	<div class="row padding-top-1 padding-bottom-5">
		<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
			<span><h4>Order id: {{ ticketDetails._id }}</h4></span>
		</div>
	</div>

	<div class="row hidden-xs">
		<div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
			<div class="track-div">
				<div class="track-div-inner display-inline-block padding-left-1 padding-right-1">
					<div ng-show="ticketConfirmed" class="track-circle-filled-black"></div>
					<div ng-show="!ticketConfirmed" class="track-circle-hollow-red"></div>
				</div>
				<div class="track-div-inner display-inline-block padding-left-1 padding-right-1">
					<div ng-show="serviceProviderAssigned" class="track-line-filled-black"></div>
					<div ng-show="!serviceProviderAssigned" class="track-line-filled-red"></div>
				</div>
				<div class="track-div-inner display-inline-block padding-left-1 padding-right-1">
					<div ng-show="serviceProviderAssigned" class="track-circle-filled-black"></div>
					<div ng-show="!serviceProviderAssigned" class="track-circle-hollow-red"></div>
				</div>
				<div class="track-div-inner display-inline-block padding-left-1 padding-right-1">
					<div ng-show="ticketResolved" class="track-line-filled-black"></div>
					<div ng-show="!ticketResolved" class="track-line-filled-red"></div>
				</div>
				<div class="track-div-inner display-inline-block padding-left-1 padding-right-1">
					<div ng-show="ticketResolved" class="track-circle-filled-black"></div>
					<div ng-show="!ticketResolved" class="track-circle-hollow-red"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row hidden-xs">
		<div class="col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
			<div class="row">
				<div class="col-sm-4 col-md-4 col-lg-4 text-left">
					<h4>Confirmation</h4>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 text-center">
					<h4>Service provider on the way</h4>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 text-right">
					<h4>Service Completed</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="row hidden-xs text-center">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h4>Phone number: 7989896767</h4>
		</div>
	</div>
</div>